/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* HEADER */
.logo{
    width: 150px;
    height: 75px;
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    
}

p{
    font-family: 'Poppins', sans-serif;
     
}

/*BACKGROUND COLOR*/
.colorFondo{
    background-color: #f5f3f4 ;
}


/* CARROUSEL */
.imagenesCarousel{
    height: 100%;
    width: 100%;
    object-fit: cover ;
}

.textoCarousel{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
  
}


/* CARDS */
.imagenCard{
    height: 250px;
    width: 100%;
    object-fit: center ;
}

.titulo{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

.bio{
  padding-top: 20px;
  padding-bottom: 8px;
  background-color: #EFD40A;
  font-size: 20 black
  ;
}

.obra{
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: space-around;
    align-items: center;
    background-color: #3fbbc0;
}

.museo{
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: space-around;
    align-items: center;
    background-color: #3fbbc0;
}


/*LINEA DE TIEMPO*/


.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    font-family: Verdana;
  }
  .flexitem {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center
  }
  .flexitem__date {
    order: 2;
    text-align: left;
    color: red;
    text-shadow: 2px 2px 5px black;
    font-size: 28px;
    background: linear-gradient(
      to right,
      white 46%,
      orange 46%,
      orange 52%,
      gray 52%,
      white 56%
    );
    flex-basis: 100px;
    display: flex;
  }

  .flexitem__desc {
    order: 3;
    width: 80%;
    padding-left: 10px;
  }
  
  
  @media (min-width: 640px){
    .flexitem__desc,
    .flexitem__hidden {
     width: 40%
    }
  }

/* FORMULARIO */
.formulario{
      color: black;
      font-size: 20px;
      letter-spacing: 2px;
      background-color: #EFD40A;
      border: 2px solid #EFD40A;
}




/* FOOTER */

footer {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-top: #444444 2px solid;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}