@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); /*ESTILOS GENERALES*/
html {
  font-size: 100%;
}
html body {
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html h1 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-weight: bold;
}

/*HEADER*/
.header {
  height: 15vh;
  background-color: #f5f3f4;
  border-bottom: 1px solid #0d1b2a;
  font-family: "Poppins", sans-serif;
}
.header .logo {
  width: 120px;
  height: 60px;
}
.header .nav-item {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.header .nav-item:hover {
  text-decoration: underline;
}

/*HOME*/
.index-description img {
  width: 430px;
  height: 430px;
}
.index-description p {
  justify-content: right;
}

/*CAROUSEL*/
.carousel-inner img {
  width: 100%;
  max-height: 460px;
  object-fit: cover;
}

.carousel-inner {
  height: 500px;
}

/*CARDS*/
.imagenCard {
  height: 250px;
  width: 100%;
  object-fit: center;
}

.titulo {
  color: #0d1b2a;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.card-index img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.card-body {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.card-body h1 {
  text-align: center;
  font-weight: bold;
}

.card-title {
  text-align: center;
  color: #0d1b2a;
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-text {
  color: #0d1b2a;
  font-size: 21px;
  text-align: justify;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/*LINEA DE TIEMPO */
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  font-family: Verdana;
}

.flexitem {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.flexitem__date {
  order: 2;
  text-align: left;
  color: red;
  text-shadow: 2px 2px 5px black;
  font-size: 28px;
  background: linear-gradient(to right, white 46%, orange 46%, orange 52%, gray 52%, white 56%);
  flex-basis: 100px;
  display: flex;
}

.flexitem__desc {
  order: 3;
  width: 80%;
  padding-left: 10px;
}

/*GALERIA*/
section {
  display: flex;
  width: 1800px;
  height: 430px;
}
section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
section img:hover {
  cursor: crosshair;
  width: 600px;
  opacity: 1;
  filter: contrast(150%);
}

/*FORMULARIO*/
.formulario {
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #EFD40A;
  border: 2px solid #EFD40A;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: #444444 2px solid;
  background-color: #f5f3f4;
  padding: 1rem;
}
footer h3 {
  font-size: 2rem;
  color: #0d1b2a;
}
footer P {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
footer li {
  list-style: none;
  display: inline-block;
  margin: 0.5rem;
}
footer li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

/*MEDIAS*/
@media (min-width: 640px) {
  .flexitem__desc {
    width: 40%;
  }
  .flexitem__hidden {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
