/*ESTILOS GENERALES*/

html {
    font-size: 100%;

    body {
        background-color: $color_1;
        font-family: $font-family_1;
        overflow-x: hidden;
    }

    h1{
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
        font-weight: bold;
    }

    h2{
        margin-top: 2%;
        margin-bottom: 1%;
        text-align: center;
    }


}