/*CARDS*/
.imagenCard {
    height: 250px;
    width: 100%;
    object-fit: center;
}

.titulo {
    color: $color_2;
    text-decoration: none;
    font-size: 2.5rem;
    font-family: $font-family_1;
}

.card-index img{
    width: 100%;
    max-height: 300px;
    object-fit:cover;
}

.card-body{
    h1{
        text-align: center;
        font-weight: bold;
    }
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.card-title{
    text-align: center;
    color: $color_2;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-text{
    color: $color_2;
    font-size: 21px;
    text-align: justify;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

* {
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  background-color: $color_1;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: $color_1;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: $color_1;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, $color_5 40%, $background-color_2 100%);
}

.card_title {
  color: $color_1;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  margin-top: 2%;
  color:$color_1;
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 2%;
}

.made_by {
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
