/*GALERIA*/

section {
	display: flex;
	width: 1800px;
	height: 430px;
	img {
		width: 0px;
		flex-grow: 1;
		object-fit: cover;
		opacity: .8;
		transition: .5s ease;
		&:hover {
			cursor: crosshair;
			width: 600px;
			opacity: 1;
			filter: contrast(150%);
		}
	}
}