/*HEADER*/

@mixin parrafos {
    font-family: $font-family_1;
}

.header {
    height: 15vh;
    background-color: $background-color_1;
    border-bottom:1px solid $color_2 ;
    @include parrafos;

    .logo {
        width: 120px;
        height: 60px;
    }

    .nav-item {
        font-family: $font-family_1;
        font-size: 18px;
        text-decoration: none;
    }
        
    .nav-item:hover {
        text-decoration: underline;
    }

}