/*HEADER*/

@mixin parrafos {
    font-family: $font-family_1;
}

.header {
    height: 20vh;
    border-bottom:2px solid black; 
    @include parrafos;

    .logo {
        width: 180px;
        height: 90px;
    }

    .nav-item {
        font-family: $font-family_1;
        font-size: 18px;
        text-decoration: none;
    }
        
    .nav-item:hover {
        text-decoration: underline;
    }

}