/*HEADER*/

@mixin parrafos {
    font-family: $font-family_1;
}

.header {
    height: 18vh;
    border-top: 1px solid $color_2 ;
    background-color: $background-color_1;
    border-bottom: 1px solid $color_2 ;
    position: sticky;
    display: inline;
    @include parrafos;

    .nav-item {
        font-family: $font-family_1;
        font-size: 21px;
        text-decoration: none;
        color: $color_2;
        font-weight: bold;        
    }

    .nav-item:hover {
        text-decoration: underline $color_3;
    }

}