$color_1: #ffffff;
$color_2: #0d1b2a;
$color_3: red;
$color_4: black;
$color_5: #02527d;
$color_6:  grey;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: Verdana;
$background-color_1: #f5f3f4;
$background-color_2: #EFD40A;
$background-color_3: #d90429;